@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Variables */
:root {
  --foreground-rgb: 0, 0, 0; /* Black text for light mode */
  --background-start-rgb: 255, 255, 255; /* Pure white for body background in light mode */
  --background-end-rgb: 245, 245, 245; /* Very light grey for gradient */
  --card-shadow: 0, 0, 0; /* Subtle shadow for light mode */
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text for dark mode */
    --background-start-rgb: 9, 9, 9; /* Dark grey, starting color for gradient */
    --background-end-rgb: 51, 51, 51; /* Darker grey, ending color for gradient */
    --card-shadow: 0, 0, 0; /* Dark shadow for dark mode */
  }
}

/* Light Theme Class */
.light-theme {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
  --card-shadow: 0, 0, 0;
  background-color: white;
}

/* Dark Theme Class */
.dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 9, 9;
  --background-end-rgb: 51, 51, 51;
  --card-shadow: 0, 0, 0;
}

/* General Styles */
body {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb)); /* This sets the default text color to black for light mode */
  font-family: 'Your Font', sans-serif;
  background-color: black;
}

/* Ensure that all text elements inherit the color from body or explicitly set it */
h1, h2, h3, h4, h5, h6, p, span, a, div, section, article, aside, header, footer, nav, ul, ol, li {
  color: inherit; /* This ensures that the text color is inherited from the parent, which is set to black */
}

.card {
  background: linear-gradient(4deg, rgba(var(--background-start-rgb), 1) 12%, rgba(var(--background-end-rgb), 1) 100%);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(var(--card-shadow), 0.2), 0 -1px 1px rgba(var(--card-shadow), 0.1);
  padding: 5px;
  margin: 5px;
  color: rgb(var(--foreground-rgb));
}

.header {
  background-color: rgba(var(--background-start-rgb), 1);
  color: rgb(var(--foreground-rgb));
  text-align: center;
}

.menu-button {
  color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--background-start-rgb), 1);
}

.menu-button:hover {
  background-color: rgba(var(--background-end-rgb), 1); /* Adjust for hover */
}

.menu-link:hover {
  background-color: rgba(var(--background-end-rgb), 1); /* Adjust for hover */
}

/* Styles for larger screens */
.flex.items-center.space-x-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Styles for screens with width 440px or less */
@media screen and (max-width: 440px) {
  .flex.items-center.space-x-4 {
    flex-direction: column;
  }

  .flex.items-center.space-x-4 .rounded-full {
    order: 2; /* This will push the image below the text */
  }

  .flex.items-center.space-x-4 div h1 {
    order: 1; /* This ensures that the text stays on top */
  }
}

.dark-theme-divider {
  background-image: url('/darkvine.png');
  background-repeat: repeat-x;
  background-size: 300px; /* Adjust this value to make the image smaller */
  width: 100%;
  height: 100px; /* Adjust height as needed */
}

.light-theme-divider {
  background-image: url('/lightvine.png');
  background-repeat: repeat-x;
  background-size: 300px; /* Adjust this value to make the image smaller */
  width: 100%;
  height: 100px; /* Adjust height as needed */
}

/* Style for the navigation bar */
.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px; /* Minimal initial width */
  background-color: rgba(0, 123, 255, 0.4); /* Soft blue background */
  box-shadow: 0 0 8px 2px rgba(0, 123, 255, 0.5); /* Soft blue glow */
  opacity: 0.3; /* Reduced opacity for a more subtle effect */
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for hover effect */
  z-index: 1000; /* Ensure the bar is above other elements */
  cursor: pointer; /* Change the cursor to indicate it's clickable */
  display: block; /* Default display */
}

/* Style changes when hovering over the navigation bar */
.nav-bar:hover, .nav-bar:focus {
  width: 15px; /* Slightly wider on hover/focus to make it more noticeable */
  opacity: 0.7; /* Increase opacity on hover/focus for visibility */
}

/* Adjust touch behavior for swiping */
.swipe-handler {
  touch-action: pan-y; /* Enables swiping in the x direction */
}

/* Hide the nav-bar on devices that don't support hover (touch devices) */
@media (hover: none) {
  .nav-bar {
    display: none; /* Hide the navigation bar on touch devices */
  }
}








.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Dark background for full-screen mode */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
  overflow: hidden; /* Hide overflow to prevent scroll bars on zoom */
}

.zoom-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area */
  transform-origin: center; /* Sets the origin point for scaling */
  transform: translate(-50%, -50%) scale(1); /* Center the image and apply default scale */
  transition: transform 0.5s ease, opacity 0.5s ease 0.5s; /* Delay opacity transition */
  opacity: 0; /* Initially hide all layers */
}

.zoom-layer.active {
  opacity: 1; /* Show the active layer */
}













